# Lab 1

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/airquality.csv')

In [6]:
# Question 1

data.columns.to_list()

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day']

In [10]:
# Question 2

print(data.index.to_list())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152]

In [11]:
# Question 3

data.head(6)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5   28.0      NaN  14.9    66      5    6

In [12]:
# Question 4

data.shape[0]

153

In [13]:
# Question 5

data.tail(6)

     Ozone  Solar.R  Wind  Temp  Month  Day
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [15]:
# Question 6

data['Ozone'].isna().sum()

37

In [16]:
# Question 7

data['Ozone'].mean(skipna=True)

42.12931034482759

In [18]:
# Question 8

data[(data['Ozone']>31)&(data['Temp']>90)]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

In [21]:
# Question 9

for i in data.columns.to_list():
    print(i, data[i].mean(skipna=True))

Ozone 42.12931034482759
Solar.R 185.93150684931507
Wind 9.957516339869281
Temp 77.88235294117646
Month 6.993464052287582
Day 15.803921568627452

In [22]:
# Question 10

data.std(skipna=True)

Ozone      32.987885
Solar.R    90.058422
Wind        3.523001
Temp        9.465270
Month       1.416522
Day         8.864520
dtype: float64

In [35]:
# Question 11

data.groupby(by='Month')['Ozone'].mean()

Month
5    23.615385
6    29.444444
7    59.115385
8    59.961538
9    31.448276
Name: Ozone, dtype: float64

In [36]:
# Question 12

data.sample(5)

     Ozone  Solar.R  Wind  Temp  Month  Day
131   21.0    230.0  10.9    75      9    9
100  110.0    207.0   8.0    90      8    9
56     NaN    127.0   8.0    78      6   26
128   32.0     92.0  15.5    84      9    6
8      8.0     19.0  20.1    61      5    9