# Lab2

In [2]:
import pandas as pd 
import os

### Part 1

In [72]:
def pollutantmean(direcory: str, pollutant: str, id: list):

    filled_ids =[str(i).zfill(3) for i in id]
    conct_data = []

    for file in filled_ids:

        data = pd.read_csv(f'{direcory}{file}.csv')
        conct_data.append(data)
        data_frame = pd.concat(conct_data, axis=0, ignore_index=True)

    return data_frame[pollutant].mean(skipna=True)

In [76]:
pollutantmean('./data/specdata/', 'sulfate', list(range(1,11)))

4.064128242560359

In [78]:
pollutantmean('./data/specdata/', 'nitrate', list(range(70,73)))

1.706047351694915

In [80]:
pollutantmean('./data/specdata/', 'nitrate', list([23]))

1.2808333333333333

### Part 2

In [97]:
def complete(direcory: str, id: list):

    filled_ids =[str(i).zfill(3) for i in id]
    result_df = []

    for file in filled_ids:

        data = pd.read_csv(f'{direcory}{file}.csv').dropna()

        result_df.append(pd.DataFrame([[int(file),data.shape[0]]],columns=['id','nobs']))

    return pd.concat(result_df, axis=0, ignore_index=True)

In [98]:
complete('./data/specdata/',list([1]))

   id  nobs
0   1   117

In [99]:
complete('./data/specdata/',list([2, 4, 8, 10, 12]))

   id  nobs
0   2  1041
1   4   474
2   8   192
3  10   148
4  12    96

In [104]:
complete('./data/specdata/',list(range(25,31))[::-1])

   id  nobs
0  30   932
1  29   711
2  28   475
3  27   338
4  26   586
5  25   463

### Part3

In [192]:
def corr(direcory: str, treshold: int):

    result_v = []
    
    filled_ids =[str(i).zfill(3) for i in range(1,333)]

    for file in filled_ids:

        data = pd.read_csv(f'{direcory}{file}.csv').dropna()

        if data.shape[0]<=treshold:
            continue

        result_v.append(data[['sulfate','nitrate']].corr().loc['sulfate','nitrate'])

    return result_v

In [193]:
print(corr('./data/specdata/',150)[:6])
res = pd.Series(corr('./data/specdata/',150)).describe().to_dict()
res.pop('count')
res.pop('std')
for i,j in res.items():
    print(i,'-->',round(j,5))

[-0.018957540970255156, -0.14051254401589236, -0.04389737213878431, -0.06815956229777352, -0.1235066658414872, -0.07588814421898869]
mean --> 0.12525
min --> -0.21057
25% --> -0.04999
50% --> 0.09463
75% --> 0.26844
max --> 0.76313

In [194]:
print(corr('./data/specdata/',400)[:6])
res = pd.Series(corr('./data/specdata/',400)).describe().to_dict()
res.pop('count')
res.pop('std')
for i,j in res.items():
    print(i,'-->',round(j,5))

[-0.018957540970255156, -0.04389737213878431, -0.06815956229777352, -0.07588814421898869, 0.763128837036294, -0.15782860340392188]
mean --> 0.13969
min --> -0.17623
25% --> -0.03109
50% --> 0.10021
75% --> 0.26849
max --> 0.76313

In [195]:
print(corr('./data/specdata/',5000))

[]